.border-div {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding-left: 10px;
    margin: 5px 0;
}

label {
    padding-left: 5px;
}

.input-submit-zxc {
    margin-left: 10px;
}

.post {
    padding: 10px;
    margin: 10px;
    background-color: #9ca3af;
}
